<h1>Edit new Item</h1>

<%= form_for @item do |f| %>
	
<p>Наименованеи товара: <br> <%= f.text_field :name %></p>
<p>Цена: <br> <%= f.text_field :price %></p>
<p>Вес: <br> <%= f.text_field :weight %></p>
<p>Описание: <br> <%= f.text_field :description %></p>

	<p><%= f.submit "Сохранить товар" %></p>

<% end %>
